<div class="first_drag_group_right">

  <div class="drag_continer"></div>

  <div title="Color Swatches ( Shift + C )" data-panel="color-swatches" class="button color_swatch">
    <div class="toolbar-icon" onclick="editor.toggleRightMenu('color-swatches')">
      <i class="ico">X</i>
    </div>
    <div class="panel panel-default" id="ColorPanel">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          Color Swatches
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapsed" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <div class="color textcolor picker" style="background-color: transparent">
            <i class="ico picker">n</i>
          </div>
          <div class="color textcolor" style="background-color: #231F20"></div>
          <div class="color textcolor" style="background-color: #FFFFFF"></div>
          <div class="color textcolor" style="background-color: #404041"></div>
          <div class="color textcolor" style="background-color: #58595B"></div>
          <div class="color textcolor" style="background-color: #6D6E70"></div>
          <div class="color textcolor" style="background-color: #808184"></div>
          <div class="color textcolor" style="background-color: #929497"></div>
          <div class="color textcolor" style="background-color: #A6A8AB"></div>
          <div class="color textcolor" style="background-color: #BBBDBF"></div>
          <div class="color textcolor" style="background-color: #D0D2D3"></div>
          <div class="color textcolor" style="background-color: #E6E7E8"></div>
          <div class="color textcolor" style="background-color: #FF0800"></div>
          <div class="color textcolor" style="background-color: #EC1C24"></div>
          <div class="color textcolor" style="background-color: #BE1E2D"></div>
          <div class="color textcolor" style="background-color: #EE4036"></div>
          <div class="color textcolor" style="background-color: #F05A28"></div>
          <div class="color textcolor" style="background-color: #90278E"></div>
          <div class="color textcolor" style="background-color: #9E1F63"></div>
          <div class="color textcolor" style="background-color: #D91C5C"></div>
          <div class="color textcolor" style="background-color: #EC297B"></div>
          <div class="color textcolor" style="background-color: #EB008B"></div>
          <div class="color textcolor" style="background-color: #F20530"></div>
          <div class="color textcolor" style="background-color: #CC2014"></div>
          <div class="color textcolor" style="background-color: #ED3424"></div>
          <div class="color textcolor" style="background-color: #B02E25"></div>
          <div class="color textcolor" style="background-color: #F6F3AE"></div>
          <div class="color textcolor" style="background-color: #F17280"></div>
          <div class="color textcolor" style="background-color: #F27575"></div>
          <div class="color textcolor" style="background-color: #7D293B"></div>
          <div class="color textcolor" style="background-color: #E6765F"></div>
          <div class="color textcolor" style="background-color: #F5E8A0"></div>
          <div class="color textcolor" style="background-color: #00A551"></div>
          <div class="color textcolor" style="background-color: #37B34A"></div>
          <div class="color textcolor" style="background-color: #009345"></div>
          <div class="color textcolor" style="background-color: #006838"></div>
          <div class="color textcolor" style="background-color: #395919"></div>
          <div class="color textcolor" style="background-color: #83A637"></div>
          <div class="color textcolor" style="background-color: #1BA559"></div>
          <div class="color textcolor" style="background-color: #98C93C"></div>
          <div class="color textcolor" style="background-color: #3B4C08"></div>
          <div class="color textcolor" style="background-color: #56FF00"></div>
          <div class="color textcolor" style="background-color: #00ADEE"></div>
          <div class="color textcolor" style="background-color: #0DFFF7"></div>
          <div class="color textcolor" style="background-color: #56B9D1"></div>
          <div class="color textcolor" style="background-color: #1071A8"></div>
          <div class="color textcolor" style="background-color: #02B0A5"></div>
          <div class="color textcolor" style="background-color: #67BC9A"></div>
          <div class="color textcolor" style="background-color: #B3D6A3"></div>
          <div class="color textcolor" style="background-color: #70A8A5"></div>
          <div class="color textcolor" style="background-color: #C4E6E4"></div>
          <div class="color textcolor" style="background-color: #8CCEAC"></div>
          <div class="color textcolor" style="background-color: #09B39A"></div>
          <div class="color textcolor" style="background-color: #5E71FF"></div>
          <div class="color textcolor" style="background-color: #33A5B1"></div>
          <div class="color textcolor" style="background-color: #6CA0CE"></div>
          <div class="color textcolor" style="background-color: #91C0E7"></div>
          <div class="color textcolor" style="background-color: #0E348C"></div>
          <div class="color textcolor" style="background-color: #003366"></div>
          <div class="color textcolor" style="background-color: #124A57"></div>
          <div class="color textcolor" style="background-color: #2B388F"></div>
          <div class="color textcolor" style="background-color: #0E348C"></div>
          <div class="color textcolor" style="background-color: #4E1F96"></div>
          <div class="color textcolor" style="background-color: #001114"></div>
          <div class="color textcolor" style="background-color: #010A26"></div>
          <div class="color textcolor" style="background-color: #5119E8"></div>
          <div class="color textcolor" style="background-color: #473350"></div>
          <div class="color textcolor" style="background-color: #9100FF"></div>
          <div class="color textcolor" style="background-color: #516B68"></div>
          <div class="color textcolor" style="background-color: #FFF100"></div>
          <div class="color textcolor" style="background-color: #E8A50C"></div>
          <div class="color textcolor" style="background-color: #F9B941"></div>
          <div class="color textcolor" style="background-color: #F3B032"></div>
          <div class="color textcolor" style="background-color: #F3C531"></div>
          <div class="color textcolor" style="background-color: #F9B931"></div>
          <div class="color textcolor" style="background-color: #F4D04B"></div>
          <div class="color textcolor" style="background-color: #FAAF40"></div>
          <div class="color textcolor" style="background-color: #F0925A"></div>
          <div class="color textcolor" style="background-color: #A4762B"></div>
          <div class="color textcolor" style="background-color: #3B4042"></div>
          <div class="color textcolor" style="background-color: #231F20"></div>
          <div class="color textcolor" style="background-color: #401D15"></div>
          <div class="color textcolor" style="background-color: #8C4A4A"></div>
          <div class="color textcolor" style="background-color: #5A4A42"></div>
          <div class="color textcolor" style="background-color: #9A8479"></div>
          <div class="color textcolor" style="background-color: #603813"></div>
          <div class="color textcolor" style="background-color: #3B2314"></div>
          <div class="color textcolor" style="background-color: #401D15"></div>
        </div>
      </div>
    </div>
  </div>

  <div title="Gradient Swatches" data-panel="gradient-swatches" class="button gradient_img_swatches">
    <div class="toolbar-icon" onclick="editor.toggleRightMenu('gradient-swatches')">
      <i class="ico">Y</i>
    </div>
    <div class="panel panel-default" id="gradient_blk">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title">Gradient Swatches</h4>
      </div>
      <div class="panel-collapse collapsed" role="tabpanel" aria-labelledby="headingFour">
        <ul class="presets-list">
          <li>
            <div id="load-grad-1" class="load-gradient"></div>
          </li>
          <li>
            <div id="load-grad-2" class="load-gradient"></div>
          </li>
          <li>
            <div id="load-grad-3" class="load-gradient"></div>
          </li>
          <li>
            <div id="load-grad-4" class="load-gradient"></div>
          </li>
          <li>
            <div id="load-grad-5" class="load-gradient"></div>
          </li>
          <li>
            <div id="load-grad-6" class="load-gradient"></div>
          </li>
          <li>
            <div id="load-grad-7" class="load-gradient"></div>
          </li>
          <li>
            <div id="load-grad-8" class="load-gradient"></div>
          </li>
          <li>
            <div id="load-grad-9" class="load-gradient"></div>
          </li>
          <li>
            <div id="load-grad-10" class="load-gradient"></div>
          </li>
          <li>
            <div id="load-grad-11" class="load-gradient"></div>
          </li>
          <li>
            <div id="load-grad-12" class="load-gradient"></div>
          </li>
          <li>
            <div id="load-grad-13" class="load-gradient"></div>
          </li>
          <li>
            <div id="load-grad-14" class="load-gradient"></div>
          </li>
          <li>
            <div id="load-grad-15" class="load-gradient"></div>
          </li>
          <li>
            <div id="load-grad-16" class="load-gradient"></div>
          </li>
          <li>
            <div id="load-grad-17" class="load-gradient"></div>
          </li>
          <li>
            <div id="load-grad-18" class="load-gradient"></div>
          </li>
          <li>
            <div id="load-grad-19" class="load-gradient"></div>
          </li>
          <li>
            <div id="load-grad-20" class="load-gradient"></div>
          </li>
          <li>
            <div id="load-grad-21" class="load-gradient"></div>
          </li>
          <li>
            <div id="load-grad-22" class="load-gradient"></div>
          </li>
          <li>
            <div id="load-grad-23" class="load-gradient"></div>
          </li>
          <li>
            <div id="load-grad-24" class="load-gradient"></div>
          </li>
          <li>
            <div id="load-grad-25" class="load-gradient"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div title="Gradient ( Shift + G )" data-panel="gradient" class="button gradient_img">
    <div class="toolbar-icon" onclick="editor.toggleRightMenu('gradient')">
      <i class="ico">Y</i>
    </div>
    <div class="panel panel-default" id="gradient_blk">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title">
          Gradient
        </h4>
      </div>
      <div class="panel-collapse collapsed" role="tabpanel" aria-labelledby="headingFour">
        <div id="gradX"></div>
      </div>
    </div>
  </div>

  <div title="Drop Shadow ( Shift + D )" data-panel="shadow" class="button drop_shadow">
    <div class="toolbar-icon" onclick="editor.toggleRightMenu('shadow')">
      <i class="ico">Z</i>
    </div>
    <div class="panel panel-default" id="dropShadow">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title">
          Drop Shadow
        </h4>
      </div>
      <div class="panel-collapse collapsed" role="tabpanel" aria-labelledby="headingFour">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#img1"></a>
          </li>
          <!--<li><a data-toggle="tab" href="#clr1">Dividers</a></li>-->
        </ul>
        <div class="tab-content">
          <div id="img1" class="tab-pane fade in active">
            <div class="panel-body" id="dropShadowHoder">
              <div class="prop_container">
                <label>Opacity</label>
                <i class="ico font_size">L</i>
                <!--<select id="" class="txtFontSize select" style="width:50px;">
                            <option>100%</option>
                            <option>75%</option>
                            <option>50%</option>
                            <option>30%</option>
                            <option>20%</option>
                            <option>10%</option>
                        </select> -->
                <div class="font_box dropshadow_opacity_box">
                  <select id="dropshadowopacitySelector1" style="" class="drop_select"
                    onchange="this.nextElementSibling.value=this.value">
                    <option>100%</option>
                    <option>75%</option>
                    <option>50%</option>
                    <option>30%</option>
                    <option>20%</option>
                    <option>10%</option>
                  </select>
                  <input id="dropshadowSelectorVal" value="100" class="drop_select_input" style="" placeholder="Select"
                    onkeydown="isInRange(this,0,100)" onblur="isInRange(this,0,100)" />
                </div>
              </div>
              <div class="prop_container">
                <label>X-offset</label>
                <i class="ico font_size">L</i>
                <!--<select id="" class="txtFontSize select" style="width:50px;">
                            <option>100%</option>
                            <option>75%</option>
                            <option>50%</option>
                            <option>30%</option>
                            <option>20%</option>
                            <option>10%</option>
                        </select> -->
                <div class="font_box x-offset_box">
                  <select id="dropshadowopacitySelector2" style="" class="drop_select"
                    onchange="this.nextElementSibling.value=this.value">
                    <option>100px</option>
                    <option>75px</option>
                    <option>50px</option>
                    <option>30px</option>
                    <option>20px</option>
                    <option>10px</option>
                  </select>
                  <input id="x_offsetSelectorVal" class="drop_select_input" style="" placeholder="Select"
                    onkeydown="isInRange(this,-100,100)" value="0" onblur="isInRange(this,-100,100)" />
                </div>
              </div>
              <div class="prop_container">
                <label>Y-offset</label>
                <i class="ico font_size">L</i>
                <!--<select id="" class="txtFontSize select" style="width:50px;">
                            <option>100%</option>
                            <option>75%</option>
                            <option>50%</option>
                            <option>30%</option>
                            <option>20%</option>
                            <option>10%</option>
                        </select> -->
                <div class="font_box y-offset_box">
                  <select id="dropshadowopacitySelector3" style="" class="drop_select"
                    onchange="this.nextElementSibling.value=this.value">
                    <option>100px</option>
                    <option>75px</option>
                    <option>50px</option>
                    <option>30px</option>
                    <option>20px</option>
                    <option>10px</option>
                  </select>
                  <input id="y_offsetSelectorVal" class="drop_select_input" style="" placeholder="Select"
                    onkeydown="isInRange(this,-100,100)" value="0" onblur="isInRange(this,-100,100)" />
                </div>
              </div>
              <div class="prop_container">
                <label>Blur</label>
                <i class="ico font_size">L</i>
                <!--<select id="" class="txtFontSize select" style="width:50px;">
                            <option>100%</option>
                            <option>75%</option>
                            <option>50%</option>
                            <option>30%</option>
                            <option>20%</option>
                            <option>10%</option>
                        </select> -->
                <div class="font_box blur_box">
                  <select id="dropshadowopacitySelector4" style="" class="drop_select"
                    onchange="this.nextElementSibling.value=this.value">
                    <option>100%</option>
                    <option>75%</option>
                    <option>50%</option>
                    <option>30%</option>
                    <option>20%</option>
                    <option>10%</option>
                  </select>
                  <input id="blur_SelectorVal" class="drop_select_input" style="" placeholder="Select"
                    onkeydown="isInRange(this,1,100)" value="1" onblur="isInRange(this,1,100)" />
                </div>
              </div>
              <div class="prop_container">
                <label>Color</label>
                <div class="color color_selector" style="background-color: black">
                </div>
              </div>
              <div class="prop_container">
                <label><a href='javascript:void(0)' onclick='removeDropShadow()'>Reset</a></label>
              </div>
              <!--<div class="imgwrap"></div>-->
            </div>
          </div>
          <!--<div id="clr1" class="tab-pane fade">
              <div class="panel-body" id="DividerDecorativeItemPanel">
                  <div class="imgwrapd"></div>
              </div>
          </div>-->
        </div>
      </div>
    </div>
  </div>

  <div title="Image Filters ( Shift + I )" data-panel="filters" class="button image_filters">
    <div class="toolbar-icon" onclick="editor.toggleRightMenu('filters')">
      <i class="ico">6</i>
    </div>

    <div class="panel panel-default" id="ImageFiltersPanel">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title">
          Image Filters
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapsed" role="tabpanel" aria-labelledby="headingFour">
        <div class="tab-content">
          <div id="img1" class="tab-pane fade in active">
            <div class="panel-body" id="ImageFiltersItemPanel">
              <div class="filter_container">
                <div class="filter_col first-col">
                  <div class="filter_row blur_func" id="blur" data-index="11">
                    <i class="ico off"></i>
                    <span class="filter_name">Blur</span>
                    <span class="filter_bar">

                      <input type="range" id="blur-value" value="0" data-set-val="0" min="0" max="1" step="0.01"
                        disabled>
                    </span>
                  </div>
                  <div class="filter_row hue_func" id="rotation" data-index="21">
                    <i class="ico off"></i>
                    <span class="filter_name">Hue</span>
                    <span class="filter_bar">
                      <input type="range" id="hue-value" value="-2" data-set-val="0" min="-2" max="2" step="0.002"
                        disabled>

                    </span>
                  </div>
                  <div class="filter_row saturation_func" id="saturation" data-index="7">
                    <i class="ico off"></i>
                    <span class="filter_name">Saturation</span>
                    <span class="filter_bar">
                      <input type="range" id="saturation-value" value="0" data-set-val="0" min="-1" max="1"
                        step="0.003921" disabled>
                    </span>
                  </div>
                  <div class="filter_row contrast_func" id="contrast" data-index="6">
                    <i class="ico off"></i>
                    <span class="filter_name">Contrast</span>
                    <span class="filter_bar">
                      <input type="range" id="contrast-value" value="0" data-set-val="0" min="-1" max="1"
                        step="0.003921" disabled>
                    </span>
                  </div>
                  <div class="filter_row brightness_func" id="brightness" data-index="5">
                    <i class="ico off"></i>
                    <span class="filter_name">Brightness</span>
                    <span class="filter_bar">
                      <input type="range" id="brightness-value" data-set-val="0" value="0" min="-1" max="1"
                        step="0.003921" disabled>
                    </span>
                  </div>
                  <div class="filter_row grayscale_func" id="grayscale" data-index="0">
                    <i class="ico off"></i>
                    <span class="filter_name">Grayscale</span>
                  </div>
                </div>
                <div class="filter_col second-col">
                  <div class="filter_row invert_func" id="invert" data-index="1">
                    <i class="ico off"></i>
                    <span class="filter_name">Invert</span>
                  </div>
                  <div class="filter_row Sepia_func" id="sepia" data-index="3">
                    <i class="ico off"></i>
                    <span class="filter_name">Sepia</span>
                  </div>
                  <div class="filter_row black_white_func" id="blackwhite" data-index="19">
                    <i class="ico off"></i>
                    <span class="filter_name">Black/White</span>
                  </div>
                  <div class="filter_row brownie_func" id="brownie" data-index="4">
                    <i class="ico off"></i>
                    <span class="filter_name">Brownie</span>
                  </div>
                  <div class="filter_row vintage_func" id="vintage" data-index="9">
                    <i class="ico off"></i>
                    <span class="filter_name">Vintage</span>
                  </div>
                  <div class="filter_row kodachrome_func" id="kodachrome" data-index="18">
                    <i class="ico off"></i>
                    <span class="filter_name">Kodachrome</span>
                  </div>
                  <div class="filter_row technicolor_func" id="technicolor" data-index="14">
                    <i class="ico off"></i>
                    <span class="filter_name">Technicolor</span>
                  </div>
                  <div class="filter_row polaroid_func" id="polaroid" data-index="15">
                    <i class="ico off"></i>
                    <span class="filter_name">Polaroid</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div title="Select Tool" data-panel="select" class="button text_wrap" style="display:none;">
    <i class="ico">J</i>
  </div>

</div>


<!-- New Library Panel -->

<div class="second_drag_group_right">

  <div class="drag_continer"></div>

  <div title="Library ( Shift + L )" data-panel="library" class="button library_items">
    <div class="toolbar-icon" onclick="editor.toggleRightMenu('library')">
      <i class="ico">a</i>
    </div>
    <div class="panel panel-default" id="LibraryPanel">
      <!--
      <div class="panel-heading" role="tab" id="headingFour">
          <h4 class="panel-title">
              Decorative Items
          </h4>
      </div> -->
      <div id="collapseFour" class="panel-collapse collapsed" role="tabpanel" aria-labelledby="headingFour">
        <div class="tab-content">
          <div id="img1" class="tab-pane fade in active">
            <div class="panel-body" id="LibraryItemPanel">

              <div class="lib_box_blk box_blk_container">

                <div class="lib_tab_box">
                  <div id="background_box" class="lib_tabs tb_background_box active_tab">
                    <a herf="#">
                      Background
                    </a>
                  </div>
                  <div id="clip_art_box" class="lib_tabs tb_clip_art_box">
                    <a herf="#">
                      Clip Arts
                    </a>
                  </div>
                  <div id="color_art_box" class="lib_tabs tb_color_art_box">
                    <a herf="#">
                      Color Arts
                    </a>
                  </div>
                </div>

                <div class="lib_content_box">
                  <div id="close_box">Back</div>
                  <div class="lib_tab_content_container" style="display: block;">
                    <div class="lib_box1">
                      <div class="sub_box_container_holder" style="display:none;height:200px;overflow-y:scroll">
                        <!-- <i class="ico">w</i> -->
                        <div class="sub_box_container_box">
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>

                        </div>
                        <div class="pagi_container">
                          <div class="pagi_nav nav_prv pg_box">
                            <i class="ico">
                            </i>
                          </div>
                          <div class="pg_box">
                            1
                          </div>
                          <div class="pg_box">
                            2
                          </div>
                          <div class="pg_box">
                            3
                          </div>
                          <div class="pg_box">
                            ...
                          </div>
                          <div class="pg_box">
                            6
                          </div>
                          <div class="pagi_nav nav_nxt">
                            <i class="ico">
                              >
                            </i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="lib_tab_content_container background_box lib_tab_content_container_parent"
                    style="display: block;">
                    <div class="lib_box abstract_bg">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Abstract
                      </div>

                      <div class="sub_box_container" style="display:none;">
                        <!-- <i class="ico">w</i> -->
                        <div class="sub_box_container_box abstract_sub_box">
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>

                        </div>
                        <div class="pagi_container">
                          <div class="pagi_nav nav_prv pg_box">
                            <i class="ico">
                            </i>
                          </div>
                          <div class="pg_box">
                            1
                          </div>
                          <div class="pg_box">
                            2
                          </div>
                          <div class="pg_box">
                            3
                          </div>
                          <div class="pg_box">
                            ...
                          </div>
                          <div class="pg_box">
                            6
                          </div>
                          <div class="pagi_nav nav_nxt">
                            <i class="ico">
                              >
                            </i>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="lib_box blur_bg">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Blur
                      </div>
                      <div class="sub_box_container" style="display:none;">
                        <!-- <i class="ico">w</i> -->
                        <div class="sub_box_container_box abstract_sub_box">
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>
                          <div class="sub_box_blk">
                            <img src="Background/Small/8.jpg" />
                          </div>

                        </div>
                        <div class="pagi_container">
                          <div class="pagi_nav nav_prv pg_box">
                            <i class="ico">
                            </i>
                          </div>
                          <div class="pg_box">
                            1
                          </div>
                          <div class="pg_box">
                            2
                          </div>
                          <div class="pg_box">
                            3
                          </div>
                          <div class="pg_box">
                            ...
                          </div>
                          <div class="pg_box">
                            6
                          </div>
                          <div class="pagi_nav nav_nxt">
                            <i class="ico">
                              >
                            </i>
                          </div>
                        </div>
                      </div>


                    </div>
                    <div class="lib_box effects_bg">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Effects
                      </div>


                    </div>
                    <div class="lib_box" diwali_bg>
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Diwali
                      </div>


                    </div>
                    <div class="lib_box festive_bg">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Festive
                      </div>


                    </div>
                    <div class="lib_box floral_bg">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Floral
                      </div>


                    </div>
                    <div class="lib_box geometry_bg">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Geometry
                      </div>


                    </div>
                    <div class="lib_box god_bg">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        God
                      </div>


                    </div>
                    <div class="lib_box grunge_bg">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Grunge
                      </div>


                    </div>
                    <div class="lib_box independence_bg">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Independence
                      </div>


                    </div>
                    <div class="lib_box love_bg">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Love
                      </div>


                    </div>
                    <div class="lib_box minimalist_bg">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Minimalist
                      </div>


                    </div>
                    <div class="lib_box modern_bg">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Modern
                      </div>


                    </div>
                    <div class="lib_box texture_bg">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Texture
                      </div>


                    </div>
                    <div class="lib_box typography_bg">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Typography
                      </div>


                    </div>
                    <div class="lib_box vector_bg">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Vector
                      </div>


                    </div>
                    <div class="lib_box watercolor_bg">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Watercolor
                      </div>


                    </div>
                    <div class="lib_box wishes_bg">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Wishes
                      </div>


                    </div>
                  </div>

                  <div class="lib_tab_content_container clip_art_box lib_tab_content_container_parent"
                    style="display: none;">
                    <div class="lib_box animals_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Animals
                      </div>


                    </div>
                    <div class="lib_box arrows_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Arrows
                      </div>


                    </div>
                    <div class="lib_box bubbles_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Bubbles
                      </div>


                    </div>
                    <div class="lib_box diwali_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Diwali
                      </div>


                    </div>
                    <div class="lib_box festive_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Festive
                      </div>


                    </div>
                    <div class="lib_box floral_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Floral
                      </div>


                    </div>
                    <div class="lib_box frames_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Frames
                      </div>


                    </div>
                    <div class="lib_box god_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        God
                      </div>


                    </div>
                    <div class="lib_box icons_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Icons
                      </div>


                    </div>
                    <div class="lib_box indian_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Indian
                      </div>


                    </div>
                    <div class="lib_box love_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Love
                      </div>


                    </div>
                    <div class="lib_box nature_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Nature
                      </div>


                    </div>
                    <div class="lib_box shapes_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Shapes
                      </div>


                    </div>


                    <div class="lib_box social_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Social
                      </div>


                    </div>


                    <div class="lib_box t_shirt_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        T-Shirt
                      </div>


                    </div>
                    <div class="lib_box typography_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Typography
                      </div>


                    </div>
                    <div class="lib_box wedding_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Wedding
                      </div>


                    </div>


                    <div class="lib_box Wishes_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Wishes
                      </div>


                    </div>
                  </div>

                  <div class="lib_tab_content_container color_art_box lib_tab_content_container_parent"
                    style="display: none;">

                    <div class="lib_box abstract_color_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Abstract
                      </div>


                    </div>
                    <div class="lib_box arrows_color_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Arrows
                      </div>


                    </div>
                    <div class="lib_box designs_color_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Designs
                      </div>


                    </div>
                    <div class="lib_box diwali_color_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Diwali
                      </div>


                    </div>
                    <div class="lib_box festive_color_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Festive
                      </div>


                    </div>
                    <div class="lib_box floral_color_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Floral
                      </div>


                    </div>
                    <div class="lib_box geometry_color_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Geometry
                      </div>


                    </div>
                    <div class="lib_box god_color_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        God
                      </div>


                    </div>
                    <div class="lib_box icons_color_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Icons
                      </div>


                    </div>
                    <div class="lib_box indian_color_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Indian
                      </div>


                    </div>
                    <div class="lib_box love_color_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Love
                      </div>


                    </div>
                    <div class="lib_box modern_color_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Modern
                      </div>


                    </div>
                    <div class="lib_box shapes_color_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Shapes
                      </div>


                    </div>
                    <div class="lib_box t_shirt_color_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        T-Shirt
                      </div>


                    </div>
                    <div class="lib_box typography_color_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Typography
                      </div>


                    </div>
                    <div class="lib_box watercolor_color_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Watercolor
                      </div>


                    </div>
                    <div class="lib_box wedding_color_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Wedding
                      </div>


                    </div>
                    <div class="lib_box Wishes_color_art">
                      <div class="lib_box_obj">
                      </div>
                      <div class="lib_box_name">
                        Wishes
                      </div>


                    </div>

                  </div>

                </div>


              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div title="Layers" data-panel="layers" class="button right-menu-item gradient_img">
    <div class="toolbar-icon" id="layers-button" onclick="editor.toggleRightMenu('layers')">
      <span></span>
    </div>
    <div class="panel panel-default" id="layers_panel">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title">
          Layers
        </h4>
      </div>
      <div class="panel-collapse collapsed" role="tabpanel" aria-labelledby="headingFour">
        <div id="layers-container"></div>
        <!--<span id="layers-delete">Delete</span>-->
      </div>
    </div>
  </div>

</div>
<!-- End -->