.slides-wrapper{
    display: flex;
    width: 100%;
    position: relative;
}

.slides-wrapper i {
    display: none;
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: transparent;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.slides-wrapper i:active {
    transform: translateY(-50%) scale(0.9);
}

.slides-wrapper i:hover {
    background: #f2f2f2;
}

.slides-wrapper i:first-child {
    left: -22px;
    display: none;
}

.slides-wrapper i:last-child {
    right: -22px;
}

.slides-wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    border-radius: 5px;
}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img {
    pointer-events: none;
}

.carousel img {
    width: 13rem;
    height: 10rem;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    border-radius: 5px;
}

.carousel img:first-child {
    margin-left: 0px;
}